{% extends "layout.html" %} 

{% block title %}Twitter Flask{% endblock %} 

{% block appcontent %}
<div class="container">
  {% if username %}
  <div class="section">
    <div class="row">
      <div class="col s1"></div>
      <div class="col s10 m10">
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <form 
                class="col s12"
                method="POST" 
                action="{{ url_for('landing_page.landing_page') }}" 
                accept-charset="UTF-8" 
                role="form"
              >
                {{ form.csrf_token }}
                <div class="row">
                  <div class="input-field col s12">
                    {{ render_field(form.tweet, class="materialize-textarea", id="textarea1", placeholder="What are you thinking today?") }}
                  </div>
                </div>
                <button class="waves-effect waves-light btn indigo right" type="submit" name="submit">
                  Tweet
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col s1"></div>
    </div>
  </div>
  <div class="divider"></div>
  {% endif %}
  {% for tweet in tweets %}
  <div class="section">
    <div class="row">
      <div class="col s2"></div>
      <div class="col s8 m8">
        <div class="card indigo darken-1">
          <div class="card-content white-text">
            <span class="card-title">@{{ tweet.get_username() }}</span>
            <p>
              {{ tweet.text }}
            </p>
            <p>{{ tweet.date_created }}</p>
          </div>
          <div class="card-action white-text">
            <a href="#">
              <span class="new badge"
                ><i class="tiny material-icons">thumb_up</i> {{ tweet.liked }}</span
              >
            </a>
            <a href="#">
              <span class="new badge"
                ><i class="tiny material-icons">repeat</i> {{ tweet.retweet }}</span
              >
            </a>
          </div>
        </div>
      </div>
      <div class="col s2"></div>
    </div>
  </div>
  <div class="divider"></div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script>
  $(document).ready(function () {
      $('input#input_text, textarea#textarea1').characterCounter();
    });
</script>
{% endblock %}
