{% block doc -%}
<!DOCTYPE html>
<html lang="en">
  {%- block html %}
  <head>
    {%- block head %} {%- block metas %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    {%- endblock metas %}

    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block styles %}
    <!-- Custom fonts for this template-->
    <link
      href="{{ url_for('static', filename='css/materialize.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cabin:400,700"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {%- endblock styles %} {%- endblock head %}
  </head>

  <body {% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%} {% block navbar %} {%- endblock navbar %} {% block content
    -%} {%- endblock content %} {% block scripts %}

    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>

    {%- endblock scripts %} {%- endblock body %}
  </body>
  {%- endblock html %}
</html>
{% endblock doc -%}
